openapi: 3.0.3
info:
  title: NGA Earth-Info REST Clock Orbit API
  description: The National Geospatial-Intelligence Agency (NGA) Earth-Info REST API provides programmatic access to GPS ephemeris products, Earth Orientation Parameter Predictions (EOPP), Navdata clock state files, and short-term orbit prediction products published by the NGA Office of Geomatics. Authoritative interactive documentation is published in OpenAPI format on the Earth-Info portal.
  version: 1.0.0
  contact:
    name: NGA Office of Geomatics
    email: geomatics@nga.mil
    url: https://earth-info.nga.mil/
servers:
- url: https://earth-info.nga.mil
  description: NGA Earth-Info production endpoint
tags:
- name: Orbit
  description: Short-term orbit prediction products.
paths:
  /api/orbit/9-day:
    get:
      tags:
      - Orbit
      summary: Download 9-day orbit prediction
      description: Returns the 9-day GPS orbit prediction product for the specified date.
      operationId: getOrbit9Day
      parameters:
      - name: date
        in: query
        required: true
        description: Target date in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: 9-day orbit prediction file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/orbit/30-day:
    get:
      tags:
      - Orbit
      summary: Download 30-day orbit prediction
      description: Returns the 30-day GPS orbit prediction product for the specified date.
      operationId: getOrbit30Day
      parameters:
      - name: date
        in: query
        required: true
        description: Target date in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: 30-day orbit prediction file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
