openapi: 3.0.3
info:
  title: NGA Earth-Info REST Clock EOPP API
  description: The National Geospatial-Intelligence Agency (NGA) Earth-Info REST API provides programmatic access to GPS ephemeris products, Earth Orientation Parameter Predictions (EOPP), Navdata clock state files, and short-term orbit prediction products published by the NGA Office of Geomatics. Authoritative interactive documentation is published in OpenAPI format on the Earth-Info portal.
  version: 1.0.0
  contact:
    name: NGA Office of Geomatics
    email: geomatics@nga.mil
    url: https://earth-info.nga.mil/
servers:
- url: https://earth-info.nga.mil
  description: NGA Earth-Info production endpoint
tags:
- name: EOPP
  description: Earth Orientation Parameter Predictions in multiple formats.
paths:
  /api/eopp:
    get:
      tags:
      - EOPP
      summary: Download Earth Orientation Parameter Predictions
      description: Returns Earth Orientation Parameter Prediction data for the specified date in the requested format.
      operationId: getEopp
      parameters:
      - name: date
        in: query
        required: true
        description: Target date in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      - name: format
        in: query
        required: false
        description: EOPP product format.
        schema:
          type: string
          enum:
          - txt
          - dat
          - iers
      responses:
        '200':
          description: EOPP file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
